:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  margin: 0;
  padding: 0;
  background-image: url('./assets/starnight.jpg');
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 320px;
  min-height: 100vh;
}

.nav-tabs,
.log {
  position: relative;
  z-index: 10;
}

.nav-link.active.lightBorder,
.list {
  border-bottom: #f4e6ad 3px solid !important;
  box-shadow: 1px 4px 6px rgba(255, 193, 7, 0.5) !important;
}

.border-start,
.card {
  font-family: "Audiowide", sans-serif;
  border-left: #f4e6ad 3px solid !important;
  box-shadow: 1px 0px 10px 0px rgba(255, 193, 7, 0.5) !important;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 1000px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 500px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 9999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
  z-index: 0;
}

.crawl>.title {
  font-size: 90%;
  text-align: center;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }

  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

.list-group-item {
  border: none !important;
  background: transparent !important;
}


.intro {
  border: #f4e6ad 3px solid !important;
  box-shadow: 0 0 6px 5px rgba(255, 193, 7, 0.5) !important;
}

.card-body,
h5 {
  color: #bebebc !important;
}